body{
	color:white;
}

h1{
	color:black;
}
#four{
	background-color: #468966;

}

#three{
	background-color: #4DB8BC;
}

#two{
	background-color: #464D56;
}

#one{
	background-color: #634F37;
}

#zero{
	background-color: #459682;
}