body{
	margin:0px;
	padding: 20px 40px 20px 40px;
	background-color: #FFFFFF;
	opacity: 0.8;
	font-family: Varela;
}

h1{
	width: 400px;
	color: #1F3731;
	padding-left: 15px;
	font-family: Cardo;
	word-spacing: 1px;
	text-shadow: 1px 1px 1px #000, 1px 1px 1px #071F1A;
}

#wiki{
	padding-left: 15px;
}
/*the nav,ul and li are all for the navigation bar*/
#nav{
	float: right;
	width: 600px;
    height: 35px;
    margin-bottom:10px;
    margin-top: -55px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1F3731;
}

ul{
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}
li{
	display: inline;
	padding: 15px;
}
li a:hover{
	color: #FFFFFF;
}

li a:active{
	color: green;
}

a:active{
	color: green;
}

a{
	text-decoration: none;
	color: #FFB60F;
	font-style: oblique;
}

a:hover{
	font-weight: bold;
}

a:link{
	
}

a:visited{
	background-color: red;
}

h2{
	color:#1F3731;	
	padding-left: 15px;
}

p{
	color: rgb(40, 41, 39);
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	text-align: justify;
	line-height: 110%;
}
/*This will channge the background color of the foundation div to light gray*/
#founding{
	background-color: hsl(0, 0%, 83%);
}
/*This will channge the background color of the fans div to gold*/
#fans{
	background-color: #FFB60F;
}




